{{#with itemObject}}
	{{#withSublevel ../avatar.name}}
		<a href="{{get ../. ../../url-field}}" class="thumbnail">
			<img src="{{src}}" class="{{../../class}}" alt="{{{../display-name}}}" width="{{size}}" height="{{size}}">
		</a>
	{{/withSublevel}}
{{/with}}