services:
    _defaults:
        public: true
        autowire: true
        autoconfigure: true

    PoPCMSSchema\CustomPostTagMutations\TypeAPIs\CustomPostTagTypeMutationAPIInterface:
        class: \PoPCMSSchema\CustomPostTagMutationsWP\TypeAPIs\CustomPostCategoryTypeMutationAPI
