<script type="text/javascript">
(function($){
	{{!Format of events data to generate: }}
	{{!http://arshaw.com/fullcalendar/docs/event_data/Event_Object/}}
	{{!http://arshaw.com/fullcalendar/docs/event_data/Event_Source_Object/}}
	var events_data = [];
	
	{{#each items}}
		{{#withItemObject ../itemDBKey this context=../.}}
			events_data.push({
				id: "{{id}}",
				title: "{{title}}",
				start: "{{start-date}}",
				end: "{{end-date}}",
				allDay: {{all-day-string}},
				domain: "{{../../tls.domain}}", {{!Domain is needed because all events are redrawn all together, so each of them needs to know from where to get its object data}}
				className: "{{../../tls.domain-id}}",
			});
		{{/withItemObject}}
	{{/each}}

	$(document).ready(function($) {
		popFullCalendarAddEvents.addEvents('{{bs.bId}}', events_data);
	});
	
})(jQuery);
</script>
