@media (min-width: 600px) {
	.wp-block-graphql-api-access-control-front {
		display: grid;
		grid-template-columns: 50% 1fr;
		grid-template-rows: auto;
		grid-gap: 20px;
	}
}
.wp-block-graphql-api-access-control-front__title {
	text-align: center;
}
