<div class="media clearfix">
	<div class="media-left">
		<img width="{{avatar-40.size}}" height="{{avatar-40.size}}" src="{{avatar-40.src}}">
	</div>
	<div class="media-body">
		<h4 class="media-heading">{{{display-name}}}</h4>
	</div>
</div>