<span class="media clearfix">
	<span class="pull-left">
		<img width="{{avatar-40.size}}" height="{{avatar-40.size}}" src="{{avatar-40.src}}">
	</span>
	<span class="media-body">
		<h4 class="media-heading">{{{display-name}}}<br/><small>{{nicename}}</small></h4>
	</span>
</span>