@mixin editable-on-focus() {
	.editable-on-focus.is-selected-false:hover {
		cursor: pointer;
	}
}

@mixin checkbox-list() {
	.editor-styles-wrapper ul.checkbox-list {
		list-style-type: none;
		// margin-bottom: 0;
		// margin-top: 0;
		// padding-left: 0;
		// margin-left: 0;
		// padding-top: 0;
		// padding-bottom: 0;
		// padding-right: 0;
		margin: 0;
		padding: 0;
	}
}
