parameters:
    # Errors in production (downgraded via Rector) may not show up in development. So avoid throwing errors
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#^Access to an undefined property WP_Post_Type::\$template_lock\.$#'
            path: src/PostTypes/AbstractCustomPostType.php
        -
            message: '#^Unreachable statement - code above always terminates\.$#'
            path: src/Blocks/AbstractGraphiQLBlock.php
        # This error seems to be some bug from PHPStan, since param #1 is a string when run in context of WP
        -
            message: '#^Parameter \#1 \$str of function trim expects string, null given\.$#'
            path: src/Scripts/MainPluginScriptTrait.php
        -
            message: '#^Cannot access an offset on array<string>\|bool\|string\.$#'
            path: src/PostTypes/AbstractCustomPostType.php
        # Remove these errors when `szepeviktor/phpstan-wordpress` supports WP 5.8
        -
            message: '#^Parameter \$blockEditorContext of method GraphQLAPI\\GraphQLAPI\\Services\\BlockCategories\\AbstractBlockCategory::getBlockCategoriesViaBlockEditorContext\(\) has invalid typehint type WP_Block_Editor_Context\.$#'
            path: src/Services/BlockCategories/AbstractBlockCategory.php
        -
            message: '#^Access to property \$post on an unknown class WP_Block_Editor_Context\.$#'
            path: src/Services/BlockCategories/AbstractBlockCategory.php
        -
            message: '#^Parameter \$blockEditorContext of method GraphQLAPI\\GraphQLAPI\\Services\\CustomPostTypes\\AbstractCustomPostType::allowGutenbergBlocksForCustomPostTypeViaBlockEditorContext\(\) has invalid typehint type WP_Block_Editor_Context\.$#'
            path: src/Services/CustomPostTypes/AbstractCustomPostType.php
        -
            message: '#^Access to property \$post on an unknown class WP_Block_Editor_Context\.$#'
            path: src/Services/CustomPostTypes/AbstractCustomPostType.php
        # PHPStan bug!?
        -
            message: '#^Anonymous function should return (.*) but returns non-empty-string\.$#'
            path: src/ContentProcessors/AbstractContentParser.php
    # bootstrapFiles:
    #     - graphql-api.php
    level: 8
    paths:
        - src/
        - tests/
