{{! It will be printed inside data-header attr, so we can't use "double quotes" but only 'single quotes'}}
{{#withModule . 'header-post'}}<div class='{{../class}}'>{{enterModule ../. itemDBKey=../bs.db-keys.subcomponents.post-id.db-key itemObjectId=../itemObject.post-id}}</div>{{/withModule}}