{{#with itemObject}}
	<div {{#generateId context=../.}}{{../id}}-{{id}}{{/generateId}} class="pop-sm clearfix {{../class}}" style="{{../style}}">
		{{#each ../modules}}
			{{enterModule ../../.}}
		{{/each}}
	</div>
{{/with}}