/wp-content/
/build/
/vendor/
phpcs.xml
phpunit.xml
.phpunit.result.cache
composer.lock
# The root composer.lock is commited to the repo,
# to make sure the CI doesn't fail
!/composer.lock
/wordpress/
.lando.local.yml
composer.json.tmp
