*.log
/wp-config.php
/wp-content/advanced-cache.php
/wp-content/backup-db/
/wp-content/backups/
/wp-content/blogs.dir/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/uploads/
/wp-content/wp-cache-config.php
/wp-content/index.php
/wp-content/plugins/hello.php
/wp-content/plugins/index.php
/wp-content/themes/index.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

/wp-admin/
/wp-includes/
/wp-content/languages/

vendor/

/index.php
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php

/wp-content/themes/twentyfifteen/

