/wp-content/
/build/
/vendor/
phpcs.xml
phpunit.xml
.phpunit.result.cache
# Ignore all composer.lock files, except the one in the root,
# as to make sure the CI always works
composer.lock
!/composer.lock
/wordpress/
.lando.local.yml
