<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  bootstrap="lib/bootstrap-phpunit.php"
  colors="true"
  verbose="true"
  stderr="true"
>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">layers/**/packages/*/src</directory>
      <directory suffix=".php">layers/**/phpunit-packages/*/src</directory>
      <directory suffix=".php">layers/**/phpunit-plugins/*/src</directory>
      <directory suffix=".php">layers/**/plugins/*/src</directory>
    </include>
  </coverage>
  <testsuite name="all">
    <directory>layers/**/packages/**/tests</directory>
    <directory>layers/**/phpunit-packages/**/tests</directory>
    <directory>layers/**/phpunit-plugins/**/tests</directory>
    <directory>layers/**/plugins/**/tests</directory>
  </testsuite>
  <php>
    <ini name="memory_limit" value="256M"/>
    <env name="APPLICATION_ENVIRONMENT" value="development-phpunit"/>
    <env name="INTEGRATION_TESTS_WEBSERVER_DOMAIN" value="graphql-api.lndo.site"/>
    <env name="INTEGRATION_TESTS_AUTHENTICATED_USER_USERNAME" value="admin"/>
    <env name="INTEGRATION_TESTS_AUTHENTICATED_USER_PASSWORD" value="admin"/>
  </php>
</phpunit>
