<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
  bootstrap="lib/bootstrap-phpunit.php"
  colors="true"
  stderr="true"
  cacheResult="true"
  cacheDirectory=".phpunit.cache"
>
  <coverage/>
  <testsuite name="all">
    <directory>layers/**/packages/**/tests</directory>
    <directory>layers/**/phpunit-packages/**/tests</directory>
    <directory>layers/**/phpunit-plugins/**/tests</directory>
    <directory>layers/**/plugins/**/tests</directory>
  </testsuite>
  <php>
    <ini name="memory_limit" value="512M"/>
    <env name="APPLICATION_ENVIRONMENT" value="development-phpunit"/>
    <env name="INTEGRATION_TESTS_WEBSERVER_DOMAIN" value="gatographql.lndo.site"/>
    <env name="INTEGRATION_TESTS_AUTHENTICATED_ADMIN_USER_USERNAME" value="admin"/>
    <env name="INTEGRATION_TESTS_AUTHENTICATED_ADMIN_USER_PASSWORD" value="admin"/>
    <env name="INTEGRATION_TESTS_AUTHENTICATED_CONTRIBUTOR_USER_USERNAME" value="contributor"/>
    <env name="INTEGRATION_TESTS_AUTHENTICATED_CONTRIBUTOR_USER_PASSWORD" value="11111111"/>
    <env name="INTEGRATION_TESTS_AUTHENTICATED_AUTHOR_USER_USERNAME" value="author"/>
    <env name="INTEGRATION_TESTS_AUTHENTICATED_AUTHOR_USER_PASSWORD" value="11111111"/>
    <env name="INTEGRATION_TESTS_AUTHENTICATED_EDITOR_USER_USERNAME" value="editor"/>
    <env name="INTEGRATION_TESTS_AUTHENTICATED_EDITOR_USER_PASSWORD" value="11111111"/>
    <env name="INTEGRATION_TESTS_AUTHENTICATED_SUBSCRIBER_USER_USERNAME" value="subscriber"/>
    <env name="INTEGRATION_TESTS_AUTHENTICATED_SUBSCRIBER_USER_PASSWORD" value="11111111"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">layers/**/packages/*/src</directory>
      <directory suffix=".php">layers/**/phpunit-packages/*/src</directory>
      <directory suffix=".php">layers/**/phpunit-plugins/*/src</directory>
      <directory suffix=".php">layers/**/plugins/*/src</directory>
    </include>
  </source>
</phpunit>
