<{{tag}} class="btn-inner {{class}}">
	{{#if fontawesome}}<i class="fa {{fontawesome}}"></i>{{/if}}<span class="pop-btn-title {{classes.btn-title}}">{{{titles.btn}}}{{#if text-field}} {{{textfield-open}}}<span class="{{itemDBKey}}-{{text-field}}-{{itemObject.id}}">{{{get itemObject text-field}}}</span>{{{textfield-close}}}{{/if}}</span>
</{{tag}}>