{{#with itemObject}}
	<div class="{{../classes.wrapper}}" style="{{../styles.wrapper}}">
		{{#each ../modules}}
			<div class="{{../../classes.widget-wrapper}}" style="{{../../styles.widget-wrapper}}">
				{{enterModule ../../.}}
			</div>
		{{/each}}
	</div>
{{/with}}