<script type="text/javascript">
(function($){
	$(document).one('template:merged', function() {

		var mapDiv = $('#{{lastGeneratedId template=mapdiv-template}}');
		var block = popManager.getBlock(mapDiv);
		var pageSection = popManager.getPageSection(block);

		popMapRuntime.drawMarkers("{{tls.domain}}", pageSection, block, mapDiv);
	});
})(jQuery);
</script>