<script type="text/javascript">
(function($){
	$(document).one('template:merged', function() {

		{{! the "mapdiv-template" gets drawn on the block-toplevel-domain, not on the data domain }}
		var mapDiv = $('#{{lastGeneratedId template=mapdiv-template domain=bs.toplevel-domain}}');
		var block = popManager.getBlock(mapDiv);
		var pageSection = popManager.getPageSection(block);

		popMapRuntime.drawMarkers("{{tls.domain}}", pageSection, block, mapDiv);
	});
})(jQuery);
</script>