{{#withModule . "map-div"}}
	{{enterModule ../.}}
{{/withModule}}
{{#with itemObject}}
	{{#withModule ../. "map-script-resetmarkers"}}
		{{enterModule ../../.}}
	{{/withModule}}
	{{#withModule ../. "map-script"}}
		{{enterModule ../../.}}
	{{/withModule}}
	{{#withModule ../. "map-script-drawmarkers"}}
		{{enterModule ../../.}}
	{{/withModule}}
{{/with}}