services:
    _defaults:
        public: true
        autowire: true
        autoconfigure: true

    PoP\GraphQLParser\Spec\Parser\ParserInterface:
        class: \PoP\GraphQLParser\Spec\Parser\Parser

    PoP\GraphQLParser\ExtendedSpec\Parser\ParserInterface:
        class: \PoP\GraphQLParser\ExtendedSpec\Parser\Parser

    PoP\GraphQLParser\Query\QueryAugmenterServiceInterface:
        class: \PoP\GraphQLParser\Query\QueryAugmenterService

    PoP\GraphQLParser\Query\GraphQLQueryStringFormatterInterface:
        class: \PoP\GraphQLParser\Query\GraphQLQueryStringFormatter

    PoP\GraphQLParser\FeedbackItemProviders\:
        resource: '../src/FeedbackItemProviders/*'