<div {{#generateId}}{{id}}{{/generateId}} class="carousel {{mode}} {{class}}" style="{{style}}" {{#each params}} {{@key}}="{{this}}"{{/each}}> 
	{{#withModule . "carousel-indicators"}}
		<div class="row {{template}} pop-merge clearfix" id="{{lastGeneratedId context=../../.}}-merge">
			{{enterModule ../.}}
		</div>
	{{/withModule}}
	{{#withModule . "controls-top"}}
		{{enterModule ../.}}
	{{/withModule}}
	{{#withModule . "inner"}}
		<div class="carousel-inner {{../class-merge}} clearfix">		
			{{enterModule ../. itemDBKey=../itemDBKey items=../items}}
		</div>
	{{/withModule}}
	{{#withModule . "controls-bottom"}}
		{{enterModule ../.}}
	{{/withModule}}
</div>