{{#with itemObject}}
	{{#withSublevel ../thumb.name}}
		<div class="post-thumb {{../../class}}">
			<a href="{{get ../. ../../url-field}}" class="{{../../classes.link}}" {{#each ../../itemobject-params}} {{@key}}="{{get ../../. this}}"{{/each}}>
				<img src="{{src}}" class="{{../../classes.img}}" alt="{{{../title}}}" width="{{width}}" height="{{height}}">
			</a>
			{{#if description}}<p class="post-thumb-description"><small>{{description}}</small></p>{{/if}}
			{{#if ../../template-ids.thumb-extras}}
				<div class="thumb-extras">
					{{#each ../../template-ids.thumb-extras}}
						{{#withModule ../../../. this}}
							{{enterModule ../../../../.}}
						{{/withModule}}
					{{/each}}
				</div>
			{{/if}}
		</div>
	{{/withSublevel}}
{{/with}}