<span class="{{class}}" {{#generateId}}{{id}}{{/generateId}} data-settings-id="{{settings-id}}" {{#each params}} {{@key}}="{{this}}"{{/each}}>
	{{#if settings-ids.block-inners}}
		<span class="blocksection-inners clearfix">
			{{#each settings-ids.block-inners}}
				{{#withBlock ../. this}}
					{{enterModule ../../. itemDBKey=../../bs.db-keys.db-key items=../../bs.dataset}}
				{{/withBlock}}
			{{/each}}
		</span>
	{{/if}}
</span>