.graphiql-container {
  height: 100vh;
  width: 100vw;
}
/**
 * Checkboxes in the GraphiQL Explorer are clipped,
 * so move them a bit to the right
 *
 * @todo Remove when upgrading to GraphiQL v3
 */
.graphiql-container .graphiql-explorer-node {
  margin-left: 3px;
}
