/*---------------------------------------------------------------------------------------------------------------
 *
 * GetPoP website main .css file
 *
 * ---------------------------------------------------------------------------------------------------------------*/

/*
COLORS used in the Website:

@body: #db902e; rgb(210, 120, 60);
@background: #db902e; rgb(219, 144, 46);
@dark-gray button: #4d4d4f; rgb(77, 77, 79);
@green button: #b94f5a;
@light-gray button: #dcddde; rgb(220, 221, 222);
@font: #7a7a7b; rgb(122, 122, 123);
@font-darker: #7a7a7b;
@lightest gray: #f1f1f2; rgb(241, 241, 242);
*/

/*body.sliding {
  background-color: #db902e;
}*/

/*.background-screen {
  display: none;
}
body.sliding .background-screen {
  display: block;
}*/
/*body.sliding.getpop-demo .background-screen,*/
body.sliding/*,
body.sliding.getpop-demo .loading-screen*/ {
  background-color: #faefa0;
}
/*body.sliding .background-screen { */
body.sliding { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*body.sliding.pop-loadingjs.getpop .loading-screen,
body.sliding.pop-loadingjs.getpop-demo .loading-screen {
  background: transparent;
  background-color: transparent;
}*/

/*body.sliding.pop-loadingframe.pop-loadingjs.getpop .loading-screen {
    background-color: #a2dfe4;
}
body.sliding.pop-loadingframe.pop-loadingjs.getpop-demo .loading-screen {
    background-color: #faefa0;
}*/

body.sliding, 
body.sliding #ps-side, 
body.sliding #ps-sideinfo, 
body.sliding #ps-main > .container-fluid, 
#ps-addons,
#ps-background .jumbotron {
    background-color: transparent;
}

body.sliding #ps-hover .container-fluid,
body .wp-caption,
body .simpleview .content-body .content .sidebar-widget {
    background-color: #faefa0;
}


/* FullCalendar */
.fc-view table thead {
  font-weight: bold;
  background-color: #dcddde;
}
.fc-view.fc-view-month.fc-grid {
  background-color: #f1f1f2;
  color: #4d4d4f;
}
.fc-event {
  border: 1px solid #db902e;
  background-color: #d9edf7;
  text-align: center;
}
.fc-row {
  background-color: #fff;
}
.fc-view.fc-view-month.fc-grid {
  background-color: #fff;
}
.fc-other-month {
  background-color: #f1f1f2;
}


#ps-main .fullview .sidebar,
#ps-quickview .fullview .sidebar,
#ps-main .horizontal.sidebar > .pop-structureinner,
#ps-quickview .horizontal.sidebar > .pop-structureinner {
  background-color: #d9edf7;
}
.carousel.widget.widget-info {
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
}
.block-posts-carousel .carousel.widget.widget-info .carousel-row {
  border-top: 1px dashed #bce8f1;
}
.block-posts-carousel .carousel.widget.widget-info .carousel-row:first-child {
  border-top: 0;
}
.blockgroup-home-welcome.jumbotron {
  background-color: #fff;
  border: 1px solid #b94f5a;
}
/*.blockgroup-home-welcome.jumbotron > .blocksection-extensions > .block-homewelcome {
  background-color: #fff;
}*/
.blockgroup-home-welcomeaccount.well {
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
}


#ps-side .nav a {
    color: #4d4d4f;
}
#ps-side .nav a:hover {
    background-color: #db902e;
}

a.loading {
    background-color: rgba(219, 144, 46, 0.3);
}
.pop-spinner {
    background-color: rgba(219, 144, 46, 0.85);
}


/* User Avatar */
.thumbnail {
  background-color: #f1f1f2;
}


/* Gallery */
/*.gallery dl.gallery-item img {
  background-color: #FFFFFF;
  border: 1px solid #dcddde;
}
.gallery dl.gallery-item img:hover {
  background-color: #db902e;
}*/
.gallery dl.gallery-item:hover {
  background-color: #db902e;
}


/* Highlight elements */
.pop-highlight {
  -moz-animation: flash 2s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 2s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 2s ease-out;
  -ms-animation-iteration-count: 1;
}
@-webkit-keyframes flash {
    0% { background-color:none;}
    50% { background-color:#db902e;}        
    100% {background-color:none;}
}
@-moz-keyframes flash {
    0% { background-color:none;}
    50% { background-color:#db902e;}        
    100% {background-color:none;}
}
@-ms-keyframes flash {
    0% { background-color:none;}
    50% { background-color:#db902e;}        
    100% {background-color:none;}
}

a.logo img:hover {
  background-color: #db902e;
}

.nav .active > a:hover {
  color: #db902e;
}




/*body.sliding #ps-main > .container-fluid,
body.sliding #ps-hover .container-fluid {
  background-color: #f1f1f2;
}
body.sliding #ps-side,
body.sliding #ps-navigator,
body.sliding #ps-sideinfo {
  background-color: #4d4d4f;
}
#ps-side h1,
#ps-side h2,
#ps-side h3,
#ps-navigator h1,
#ps-navigator h2,
#ps-navigator h3,
#ps-navigator .text-inverse .excerpt,
#ps-navigator .text-inverse .authors,
#ps-side .carousel-indicators {
  color: #f1f1f2;
}
#ps-side .block-title,
#ps-navigator .block-title,
#ps-sideinfo .block-title,
#ps-side .description,
#ps-navigator .description {
  color: #f1f1f2;
}*/


#ps-main .fullview > .wrapper h1.title > a {
    color: #4d4d4f;
}

/*.side-sections-menu {
  background-color: #f1f1f2;
}
*/


#ps-sideinfo .blocksection-controls.top .btn {
  background-color: #f1f1f2;
}

/*.pop-blockgroup > .blocksection-controls.bottom,
body.embed .pop-blockgroup > .blocksection-controls.right {
  background-color: #f1f1f2;
}
*/
/*#ps-background .jumbotron {
  background-color: #f1f1f2;
}*/

#notifications-count,
#ps-top .scroll-notifications .preview.notification-layout {
  background-color: #db902e;
}

#ps-top-menu-addcontent li> a:hover {
    background-color: #db902e;
}

/* Styles particular to GetPoP */

/*.mainsections > .blocksection-extensions > .pop-block > .blocksection-title > h1.title {
    text-align: center;
    border-bottom: 2px solid #b94f5a;
    padding-bottom: 10px;
}
.mainsections > .blocksection-extensions h1.title,
.mainsections > .blocksection-extensions h2.title {

  margin-top: 30px;
}
@media (min-width: 768px) {
  .mainsections > .blocksection-extensions h1.title,
  .mainsections > .blocksection-extensions h2.title {

    margin-top: 50px;
  }
@media (min-width: 992px) {
  .mainsections > .blocksection-extensions h2.title {

    margin-top: 60px;
  }
}*/

/* Make the calendar's month name smaller */
.mainsections > .blocksection-extensions .calendar .fc-toolbar h2 {
    font-size: 26px;
    margin-bottom: 5px;
}


@media (min-width: 768px) {
  #ps-background .pop-background-img {
    max-width: 500px; 
  }
}
#ps-background .pop-background-img {
  /*width: auto;*/
  margin-bottom: 10px;
}
#loading-logo {
  max-width: 500px;
}

.blockgroup-home .pop-block.calendar > .blocksection-title a,
.blockgroup-home .block-events-scrollmap > .blocksection-title a,
.blockgroup-author .block-events-scrollmap > .blocksection-title a,
.blockgroup-tag .block-events-scrollmap > .blocksection-title a {
  color: #4d4d4f;
}

#loadingscreen h1 > .tagline {
    display: none;
}