{{#with itemObject}}
	{{#ifget . ../condition-field method=../condition-method context=../.}}
		{{#each ../template-ids.layouts}}
			{{#withModule ../../. this}}
				{{#if ../../../show-div}}
					<div class="wrapper {{../../../class}} {{../../../classes.succeeded}} {{#each ../../../template-sources.class-extensions}}{{applyLightTemplate . context=../../../../.}}{{/each}}" style="{{../../../style}}{{../../../styles.succeeded}}" {{#generateId context=../../../.}}{{../../../id}}{{/generateId}}>
						{{enterModule ../../../.}}
					</div>
				{{else}}
					{{enterModule ../../../.}}
				{{/if}}
			{{/withModule}}
		{{/each}}
	{{else}}
		{{#each ../template-ids.conditionfailed-layouts}}
			{{#withModule ../../. this}}
				{{#if ../../../show-div}}
					<div class="wrapper {{../../../class}} {{../../../classes.failed}} {{#each ../../../template-sources.class-extensions}}{{applyLightTemplate . context=../../../../.}}{{/each}}" style="{{../../../style}}{{../../../styles.failed}}" {{#generateId context=../../../.}}{{../../../id}}{{/generateId}}>
						{{enterModule ../../../.}}
					</div>
				{{else}}
					{{enterModule ../../../.}}
				{{/if}}
			{{/withModule}}
		{{/each}}
	{{/ifget}}
{{/with}}