<button {{#generateId}}{{id}}{{/generateId}} type="button" data-loading-text="{{titles.loading}}" class="hidden-loadinghtml {{class}} {{#if bs.feedback.stop-fetching}}hidden{{/if}}" style="{{style}}">
	{{titles.fetchmore}}
</button>
{{#if bs.feedback.next-url}}
	<a class="visible-loadinghtml {{class}} {{#if bs.feedback.stop-fetching}}hidden{{/if}}" href="{{bs.feedback.query-next-url}}" style="{{style}}" role="button">
		{{titles.fetchmore}}
	</a>
{{/if}}