<button {{#generateId}}{{id}}{{/generateId}} type="button" data-loading-text="{{titles.loading}}" class="{{class}} {{#if bs.feedback.stop-fetching}}hidden{{/if}}" style="{{style}}">
	{{titles.fetchmore}}
</button>