services:
    _defaults:
        public: true
        autowire: true
        autoconfigure: true

    PoPCMSSchema\MediaMutations\ConditionalOnModule\CustomPostMutations\Hooks\:
        resource: '../../../src/ConditionalOnModule/CustomPosts/Hooks/*'
