services:
    _defaults:
        public: true
        autowire: true

    PoPCMSSchema\PostMutations\ConditionalOnModule\Users\SchemaHooks\:
        resource: '../../../src/ConditionalOnModule/Users/SchemaHooks/*'
