services:
    _defaults:
        public: true
        autowire: true
        autoconfigure: true

    PoPCMSSchema\MenuMutations\FeedbackItemProviders\:
        resource: '../src/FeedbackItemProviders/*'
