{{#each block-settings-ids.blockunits-replicable}}
	{{#withBlock ../. this}}
		<a class="pop-interceptor" {{interceptAttr context=../../.}} {{#generateId context=../../. targetId=../../pss.pssId group='replicate-interceptor'}}{{../../id}}{{../../tls.feedback.unique-id}}-{{../this}}{{/generateId}} {{#if ../../intercept-skipstateupdate}}data-intercept-skipstateupdate="true"{{/if}} data-replicate-type="{{get ../../replicate-types template}}" {{#ifget ../../unique-urls template}}data-unique-url="true"{{/ifget}} data-intercept-url="{{#withSublevel ../../template context=../../pss.feedback.intercept-urls}}{{get . ../template}}{{/withSublevel}}" data-title="{{title}}" data-block-settingsid="{{../this}}"></a>
		<span class="pop-interceptor-blocksettingsids hidden">
			{{#withSublevel ../../template context=../../pss.feedback.replicate-blocksettingsids}}{{#withget . ../template}}{{#each .}}<span data-key="{{@key}}" data-value="{{this}}"></span>{{/each}}{{/withget}}{{/withSublevel}}
		</span>
	{{/withBlock}}
{{/each}}