parameters:
    # bootstrapFiles:
    #     - gatographql.php
    level: 8
    paths:
        - src/
        - tests/
    excludePaths:
        # All these files were copied from WooCommerce and they contain PHPStan errors
        - src/Log/Controllers/*
