<textarea {{#generateId}}{{id}}{{/generateId}} rows="{{rows}}" name="{{name}}" class="{{class}} {{input-class}} form-control" placeholder="{{placeholder}}" {{#each params}} {{@key}}="{{this}}"{{/each}} {{#if readonly}}readonly{{/if}} {{#if disabled}}disabled="disabled"{{/if}}>{{value}}</textarea>