<input type="{{type}}" value="{{value}}" name="{{name}}" {{#generateId}}{{id}}{{/generateId}} class="{{class}} {{input-class}} form-control" placeholder="{{placeholder}}" {{#if readonly}}readonly{{/if}} {{#if disabled}}disabled="disabled"{{/if}} {{#each params}} {{@key}}="{{this}}"{{/each}} {{#each previoustemplates-ids}} {{@key}}="#{{lastGeneratedId context=../. template=this}}"{{/each}}>