<div {{#generateId}}{{id}}{{/generateId}} class="alert in {{classes.alert}} {{class}} pop-typeahead-selected">
	{{{description}}}
	{{! When the the value is selected from the typeahead, it won't have "cannot-close-ids", so chech for this existence}}
	{{#if show-close-btn}}
		{{#if cannot-close-ids}}
			{{#compare itemObject.id cannot-close-ids operator="notin"}}
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			{{/compare}}
		{{else}}
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		{{/if}}
	{{/if}}
	{{#withModule . "layout-selected"}}
		{{enterModule ../.}}
	{{/withModule}}
	<input type="hidden" value="{{itemObject.id}}" name="{{input-name}}[]" class="{{input-class}}">
</div>
