<label>
	<input type="checkbox" {{#if value}}checked="checked"{{/if}} name="{{name}}" {{#generateId}}{{id}}{{/generateId}} class="{{class}} {{input-class}}" style="{{style}}" {{#if readonly}}readonly{{/if}} {{#if disabled}}disabled="disabled"{{/if}} {{#each params}} {{@key}}="{{this}}"{{/each}} {{#each previoustemplates-ids}} {{@key}}="#{{lastGeneratedId context=../. template=this}}"{{/each}}> {{{label}}}
</label>