.graphql-api-select-card {

	// Same styles as in React Select for the labels
	&__label-group {
		// -moz-box-align: center;
		// align-items: center;
		display: flex;
		flex: 1 1 0%;
		flex-wrap: wrap;
		// padding: 2px 8px;
		position: relative;
		overflow: hidden;
		box-sizing: border-box;
	}

	// Apply style only for isMulti
	&__label-item.multi {
		border-radius: 2px;
		color: rgb(51, 51, 51);
		font-size: 85%;
		overflow: hidden;
		padding: 3px 3px 3px 6px;
		text-overflow: ellipsis;
		white-space: nowrap;
		box-sizing: border-box;
		background-color: rgb(230, 230, 230);
		border-radius: 2px;
		display: flex;
		margin: 2px;
		min-width: 0px;
		box-sizing: border-box;
		white-space: nowrap;
	}
}
