{{#each block-settings-ids.blockunits}}
	{{#withBlock ../. this}}
		{{enterModule . parentContext=../../.}}
	{{/withBlock}}
{{/each}}
{{#each template-ids.extensions}}
	{{applyLightTemplate . context=../.}}
{{/each}}