<div class="iframe-wrapper" {{#generateId}}{{id}}{{/generateId}}><div class="iframe-description">{{{titles.header}}}{{#if print-source}}<p>{{{titles.source}}} <a href="{{src}}" target="{{targets.source}}">{{src}}</a></p>{{/if}}</div><iframe class="embedpreview {{class}}" style="{{style}}" width="{{width}}" height="{{height}}" src="{{src}}" frameborder="0" allowfullscreen="true" {{#each params}} {{@key}}="{{this}}"{{/each}} {{#each previoustemplates-ids}} {{@key}}="#{{lastGeneratedId context=../. template=this}}"{{/each}}></iframe></div>