{{#with itemObject}}
	<style type="text/css" {{#generateId context=../.}}{{../id}}{{/generateId}}>
		body.loggedin.user-{{../tls.feedback.user.id}} {{../elem-target}}.target-{{id}} {
			{{#each ../elem-styles}}
				{{@key}}: {{.}};
			{{/each}}
		}
	</style>
{{/with}}