{{#with bs.feedback.thumb}}
	<img src="{{src}}" width="{{w}}" height="{{h}}">
{{/with}}
{{#with bs.feedback.fontawesome}}<i class="fa fa-fw {{this}}"></i>{{/with}}
{{#if bs.feedback.title}}{{{bs.feedback.title}}}{{/if}}