{{#with itemObject}}
	<div class="{{../class}}">
		{{#withLayout ../itemDBKey id ../multiple-layouts ../.}}
			{{enterModule ../../. itemDBKey=itemDBKey itemObjectId=itemObjectId}}
		{{/withLayout}}	
	</div>
{{/with}}