<span class="hidden {{class}}" {{#generateId}}{{id}}{{/generateId}} {{#each params}} {{@key}}="{{this}}"{{/each}} {{#each previoustemplates-ids}} {{@key}}="#{{lastGeneratedId context=../. template=this}}"{{/each}}></span>