services:
    _defaults:
        public: true
        autowire: true
        autoconfigure: true

    PoPCMSSchema\MenuMutations\TypeAPIs\MenuTypeMutationAPIInterface:
        class: \PoPCMSSchema\MenuMutationsWP\TypeAPIs\MenuTypeMutationAPI
