services:
    _defaults:
        public: true
        autowire: true
        autoconfigure: true

    PoP\API\Schema\FieldQueryConvertorInterface:
        class: \PoP\API\Schema\FieldQueryConvertor

    PoP\API\PersistedQueries\PersistedFragmentManagerInterface:
        class: \PoP\API\PersistedQueries\PersistedFragmentManager

    PoP\API\PersistedQueries\PersistedQueryManagerInterface:
        class: \PoP\API\PersistedQueries\PersistedQueryManager

    PoP\API\Schema\SchemaDefinitionServiceInterface:
        class: \PoP\API\Schema\SchemaDefinitionService

    PoP\API\Schema\FieldQueryInterpreterInterface:
        class: \PoP\API\Schema\FieldQueryInterpreter

    PoP\API\State\:
        resource: '../src/State/*'

    PoP\API\Hooks\:
        resource: '../src/Hooks/*'

    PoP\API\RouteModuleProcessors\:
        resource: '../src/RouteModuleProcessors/*'

    PoP\API\ModuleProcessors\:
        resource: '../src/ModuleProcessors/*'
