// Loading @wordpress/base-styles as they have mixins and other dependencies
@import "~@wordpress/base-styles/colors";
@import "~@wordpress/base-styles/breakpoints";
@import '../multi-select-control/base_styles.scss';

.graphql-api-access-control-list__tab_panel .active-tab {
	border-bottom: 3px solid $blue-medium-600;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	box-sizing: border-box;
	font-weight: 700;
	background-color: $blue-medium-200;
}
// .editor-styles-wrapper ul.graphql-api-access-control-list__item_data__list{
// 	list-style: none;
// }

.graphql-api-access-control-list {
	&__item_data {
		&__title {
			text-align: center;
		}
	}
}

@media (min-width: #{ ($break-small) }) {
	.graphql-api-access-control-list {

		&__item_data {
			display: grid;
			grid-template-columns: 50% 1fr;
			grid-template-rows: auto;
			grid-gap: 20px;
		}
	}
}
