<button {{#generateId}}{{id}}{{/generateId}} type="{{type}}" class="{{class}}" title="{{label}}" {{#each params}} {{@key}}="{{this}}"{{/each}} {{#each previoustemplates-ids}} {{@key}}="#{{lastGeneratedId context=../. template=this}}"{{/each}}>
	{{#if icon}}<span class="glyphicon {{icon}}"></span> {{/if}}{{#if fontawesome}}<i class="fa fa-fw {{fontawesome}}"></i>{{/if}}{{#if text}}<span class="{{classes.text}} pop-btn-title">{{text}}</span>{{/if}}
</button>