<div {{#generateId}}{{id}}{{/generateId}} class="controls {{class}}" style="{{style}}">	
	{{#each modules}}
		{{! Comment Leo: the itemDBKey/itemObject below might be null (controlgroup) or have a value (quicklinkgroup)}}
		{{enterModule ../.}}
	{{/each}}
</div>