<div {{#generateId}}{{id}}{{/generateId}} class="btn-group pop-hide-empty {{class}}" {{#each params}} {{@key}}="{{this}}"{{/each}}>
	{{#each modules}}						
		{{! Comment Leo: the itemDBKey/itemObject below might be null (controlgroup) or have a value (quicklinkgroup)}}
		{{enterModule ../.}}
	{{/each}}
</div>