####################################################################################
# GitHub Action:
# Whenever creating a new release of the source code,
# also create a release of the installable plugin,
# and downgrading it from PHP 8.1 to 7.1 to support more users.
####################################################################################
# Steps to execute:
# - Checkout the source code
# - Run "composer install" for development, to install dependencies for Rector
# - Run Rector to downgrade code from PHP 8.1 to 7.1
# - Run "composer install" for production (required dependencies are already under vendor/)
# - Create a .zip file, excluding:
#   - All hidden files (.git, .gitignore, etc)
#   - Rector file
#   - All development files, ending in .dist
#   - All composer files <= after installing dependencies, no need for them anymore
#   - Markdown files concerning development
#   - Folder build/ <= created only to store the .zip file
#   - Folder dev-helpers/ <= not needed for the plugin
# - Upload the .zip file as an artifact to the action (this step is possibly optional)
# - Upload the .zip file as a release, for download
####################################################################################
name: Generate Installable Plugin, Upload as Artifact, and (maybe) Upload as Release Asset
on:
    release:
        types: [published]
    push:
        branches:
            - master
    pull_request: null

env:
    CHECKOUT_SUBMODULES: ""
    # see https://github.com/composer/composer/issues/9368#issuecomment-718112361
    COMPOSER_ROOT_VERSION: "dev-master"

jobs:
    provide_data:
        name: Provide configuration to generate plugins
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v2
                with:
                    submodules: ${{ env.CHECKOUT_SUBMODULES }}

            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.1
                    coverage: none
                env:
                    COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            -   uses: "ramsey/composer-install@v1"

            -   id: output_data
                run: |
                    echo "::set-output name=plugin_config_entries::$(vendor/bin/monorepo-builder plugin-config-entries-json --config=config/monorepo-builder/plugin-config-entries-json.php)"
                    echo "::set-output name=retention_days_for_generated_plugins::$(vendor/bin/monorepo-builder env-var RETENTION_DAYS_FOR_GENERATED_PLUGINS --config=config/monorepo-builder/env-var.php)"
                    echo "::set-output name=local_package_owners::$(vendor/bin/monorepo-builder local-package-owners --config=config/monorepo-builder/local-package-owners.php)"
        outputs:
            plugin_config_entries: ${{ steps.output_data.outputs.plugin_config_entries }}
            retention_days: ${{ steps.output_data.outputs.retention_days_for_generated_plugins }}
            local_package_owners: ${{ steps.output_data.outputs.local_package_owners }}

    # Build plugin => downgrade => (maybe) scope => (maybe) upload to release and deploy to dist repo
    process:
        name: Generate plugin ${{ matrix.pluginConfig.zip_file }}
        needs: provide_data
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                pluginConfig: ${{ fromJson(needs.provide_data.outputs.plugin_config_entries) }}
        steps:
            -   name: Checkout code
                uses: actions/checkout@v2
                with:
                    submodules: ${{ env.CHECKOUT_SUBMODULES }}

            -   name: Create build folder
                run: mkdir build

            -   name: Install zip
                uses: montudor/action-zip@v0.1.1

            # pcre.jit=0 => @see https://github.com/composer/composer/issues/9595
            -   name: Use PHP 8.1
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.1
                    coverage: none
                    ini-values: pcre.jit=0
                env:
                    COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            -   name: Install root dependencies
                uses: "ramsey/composer-install@v1"

    ###########################################################################
    # Downgrade plugin
    ###########################################################################

            # "custom-bump-interdependency" temporarily needed because of bug:
            # https://github.com/symplify/symplify/issues/2773
            -   name: Localize package paths
                run: |
                    vendor/bin/monorepo-builder custom-bump-interdependency --config=config/monorepo-builder/custom-bump-interdependency.php "dev-master"
                    vendor/bin/monorepo-builder localize-composer-paths --config=config/monorepo-builder/localize-composer-paths.php ${{ matrix.pluginConfig.path }}/composer.json --ansi

            -   name: Install plugin dependencies, avoiding v2 platform check
                run: |
                    composer config platform-check false --no-interaction --ansi
                    composer install --no-progress --no-interaction --ansi
                working-directory: ${{ matrix.pluginConfig.path }}

            # additional_rector_configs => Hack to fix bug: https://github.com/rectorphp/rector/issues/5962
            -   name: Downgrade code for production (to PHP 7.1)
                run: ci/downgrade/downgrade_code.sh "${{ matrix.pluginConfig.rector_downgrade_config }}" "" "${{ matrix.pluginConfig.path }}" "${{ matrix.pluginConfig.additional_rector_configs }}" "${{ needs.provide_data.outputs.local_package_owners }}"

            ################################################################################
            # Temporary hack: fix the return type in Trait, not yet handled by Rector
            # @see https://github.com/rectorphp/rector/issues/6962
            # @see https://github.com/leoloso/PoP/issues/1470
            -   name: Temporary hack - fix the return type in Trait
                run: |
                    sed -i 's/function getItem($key): CacheItem/function getItem($key): \\Psr\\Cache\\CacheItemInterface/' vendor/symfony/cache/Traits/AbstractAdapterTrait.php
                working-directory: ${{ matrix.pluginConfig.path }}
                if: ${{ matrix.pluginConfig.scope }}
            ################################################################################

            -   name: Replace PHP version in plugin main file
                run: |
                    sed -i 's/Requires PHP: 8.1/Requires PHP: 7.1/' ${{ matrix.pluginConfig.main_file }}
                working-directory: ${{ matrix.pluginConfig.path }}

            -   name: Build project for production
                run: composer install --no-dev --optimize-autoloader --no-progress --no-interaction --ansi
                working-directory: ${{ matrix.pluginConfig.path }}

    ###########################################################################
    # Scope plugin
    #   Only execute when enabled by configuration
    ###########################################################################

            -   name: Install PHP-Scoper
                run: |
                    composer global config minimum-stability dev
                    composer global config prefer-stable true
                    composer global require humbug/php-scoper
                if: ${{ matrix.pluginConfig.scope }}

            # (Current situation) If the scoped results correspond to vendor/ only, we must do "--output-dir ../prefixed-plugin/vendor"
            # (Not happening now) If they also include src/, we must do "--output-dir ../prefixed-plugin"
            -   name: Scope plugin into separate folder
                run: ~/.composer/vendor/bin/php-scoper add-prefix --config=${{ matrix.pluginConfig.scoping.phpscoper_config }} --output-dir $GITHUB_WORKSPACE/build/prefixed-plugin/vendor --ansi --no-interaction
                working-directory: ${{ matrix.pluginConfig.path }}
                if: ${{ matrix.pluginConfig.scope }}

            -   name: Copy scoped code back to source folder
                run: rsync -av build/prefixed-plugin/ ${{ matrix.pluginConfig.path }} --quiet
                if: ${{ matrix.pluginConfig.scope }}

            -   name: Regenerate autoloader
                run: composer dumpautoload --optimize --classmap-authoritative --ansi
                working-directory: ${{ matrix.pluginConfig.path }}
                if: ${{ matrix.pluginConfig.scope }}

            -   name: Use Scoper autoload in plugin main file
                run: |
                    sed -i 's/autoload.php/scoper-autoload.php/' ${{ matrix.pluginConfig.main_file }}
                working-directory: ${{ matrix.pluginConfig.path }}
                if: ${{ matrix.pluginConfig.scope }}

    ###########################################################################
    # Generate plugin, and Upload as artifact
    ###########################################################################

            -   name: Create plugin as zip
                run: zip -X -r $GITHUB_WORKSPACE/build/${{ matrix.pluginConfig.zip_file }} . -x *.git* node_modules/\* .* "*/\.*" *.md phpstan.neon *.dist composer.* **/package-lock.json tests/\* **/tests/\* ${{ matrix.pluginConfig.exclude_files }}
                working-directory: ${{ matrix.pluginConfig.path }}

            -   name: Upload plugin zip as artifact
                uses: actions/upload-artifact@v2
                with:
                    name: generated-plugins
                    path: build/${{ matrix.pluginConfig.zip_file }}
                    retention-days: ${{ needs.provide_data.outputs.retention_days }}

    ###########################################################################
    # Upload and Deploy
    #   Only when doing a release
    ###########################################################################

            -   name: Upload to release
                uses: JasonEtco/upload-to-release@master
                with:
                    args: build/${{ matrix.pluginConfig.zip_file }} application/zip
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                if: github.event_name == 'release'

            -   name: Uncompress artifact
                uses: montudor/action-zip@v0.1.0
                with:
                    args: unzip -qq build/${{ matrix.pluginConfig.zip_file }} -d build/dist-plugin
                if: github.event_name == 'release'

            -   id: previous_tag
                uses: "WyriHaximus/github-action-get-previous-tag@master"
                if: github.event_name == 'release'

            -   name: Publish to DIST repo
                uses: symplify/monorepo-split-github-action@1.1
                env:
                    GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
                with:
                    branch: ${{ matrix.pluginConfig.dist_repo_branch }}
                    package-directory: 'build/dist-plugin'
                    split-repository-organization: ${{ matrix.pluginConfig.dist_repo_organization }}
                    split-repository-name: ${{ matrix.pluginConfig.dist_repo_name }}
                    tag: ${{ steps.previous_tag.outputs.tag }}
                    user-name: "leoloso"
                    user-email: "leo@getpop.org"
                if: github.event_name == 'release'

