name: PHPStan
on:
    push:
        branches:
            - master
    pull_request: null
env:
    CHECKOUT_SUBMODULES: ""

jobs:
    main:
        name: Execute PHPStan
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@v2
                with:
                    submodules: ${{ env.CHECKOUT_SUBMODULES }}

            -   name: Set-up PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.1
                    coverage: none
                env:
                    COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            -   name: Install Composer dependencies
                uses: "ramsey/composer-install@v1"

            -   name: Regenerate Monorepo PHPStan config
                run: vendor/bin/monorepo-builder merge-phpstan --config=config/monorepo-builder/merge-phpstan.php --skip-unmigrated --ansi

            -   name: Run PHPStan
                run: vendor/bin/phpstan analyse --ansi
